<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FF9EF2" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF9EF2">
    <link rel="icon" href="images/favicon.svg">
    <link rel="stylesheet" href="css/styles.css">
    <title>ุงุฏฺฏุงุฑ</title>
</head>
<body>
    <div class="banner">
        <div class="logo" id="intro-logo"></div>
        <h5>ุขุฎุฑ ุณุงู ู ูุฑูุ ุฒูุงู ููุดุชู ุงุฏฺฏุงุฑ ุจุฑุง ูู</h5>
    </div>
    <div class="cta">
       <button class="form-button"> <a href="/sign-in">ุดุฑูุน ฺฉูุฏ</a></button>
    </div>
    <footer class="intro-footer">ุจุง ๐ ุงุฒ ุนูุฑุถุง <br> ฒน ุงุณููุฏ ฑณนน</footer>
</body>
</html>