<%- include('partials/header') %>

<div class="content">
    <h1 class="ejs-heading">ุงุฏฺฏุงุฑ ุจุฑุง <span><%= name %></span></h1>

<div class="form-area" id="memo-text" style="height: 150vh;">
    <form action="/new-memo" method="POST" id="memo-form">
        
        <label for="author">ุงุฒ ุทุฑู</label>
        <br>
        <input type="text" name="author" id="author" autocomplete="off">
        <br>
        <label for="memo">ูุชู ุงุฏฺฏุงุฑ</label>
        <br>
        <textarea name="memo" id="" cols="30" rows="20" autocomplete="off" required></textarea>
        <br>
        <input type="text" name="username" value="<%= username %>" style="display: none;" >
        <button type="submit" class="form-button">ุงุฑุณุงู</button>
    </form>

    <p class="hint">ุญุณุงุจ ฺฉุงุฑุจุฑ ูุฏุงุฑุฏุ</p>
    <button class="form-button"><a href="/sign-up">ุซุจุช ูุงู ฺฉูุฏ</a></button>

</div>
</div>

<footer class="memo-footer">ุจุง ๐ ุงุฒ ุนูุฑุถุง <br> ฒน ุงุณููุฏ ฑณนน</footer>

</body>
</html>